@charset "UTF-8";

/* ---------------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    touch-action: manipulation;

    scroll-behavior: smooth;

    @media (width < 600px) {
        font-size: 14px !important;
    }
}

body {
    font-family: sans-serif;

    user-select: none;

    img {
        pointer-events: none;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #222;
        color:            #fff;
    }
}

/* ---------------------------------------------------------------------------------------------- */

main {
    .container {
        padding: 2rem;

        display: grid;
        gap: 1rem;

        p {
            margin: 0;
        }

        a {
            color: inherit;
        }
    }
}

footer {
    .container {
        position: fixed;

        right: 0;
        bottom: 0;
        left: 0;

        width: fit-content;

        margin: 0 auto;

        opacity: 0.5;

        p {
            margin: 0 0 0.75rem 0;

            font-size: 0.75rem;
        }

        a {
            color: inherit;
        }
    }
}